/* worl sans font size */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* shere style */
.btn-primary{
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    background-color: #FF900E;
    color: #FFFFFF;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}

*{
    font-family: "Work Sans", serif;
}

/* header style */
header{
    padding: 50px 240px 50px 240px; 
    background-color: rgba(255, 236, 211, 0.659);
}
nav h2{
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    /* width: 477px; */
    /* justify-content: space-evenly; */
    text-decoration: none;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.05rem;
    font-weight: 400;
    color: #424242;
}
nav ul a{
    text-decoration: none;

}
/* banner style */
.banner{

}
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    padding: 117px 0px 50px 0px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    width: 862px;
    color: #131313;
}
.banner-discription{
    width: 868px;
    font-size: 16px;
    color: #727272;
}
.banner img{
    max-width: 100%;
    /* height: 700px; */
    /* margin: 0px 240px; */
}
/* main related style */
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 73px;
    padding-top: 85px;
    padding-bottom: 130px;
    gap: 24px;
}
.feature-img img{
    width: 342px;
    height: 342px;
}
.feature-img-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 300px;
}
.feature-title{
    width: 537px;
    height: 332px;
    /* border: 1px solid #FF900E; */
    
}
.feature-title h2{
    width: 468px;
    font-size: 45px;
    font-weight: bold;
}
.feature-title p{
    width: 537px;
    font-size: 16px;
    color: #727272;
}
.quick-list{
    color: #727272;
}
.quick-title{
    color: #131313;
}
.features{
    color: #FF900E;
}
/* section2 style */
.variation-passage{
    display: flex;
    justify-content: center;
    /* width: 1427px; */
    /* border: 1px solid #FF900E; */
    margin-bottom: 130px;
   
}
.variation-title{
    /* width: 586px; */
    padding-right: 130px;
}
.alteration-title{
    /* width: 486px; */
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    

}
.alteration-description{
    width: 586px;
    font-size: 16px;
    color: #727272;
}
.information-title{
    width: 586px;
    padding: 35px 42px;
    box-shadow: 0px 5px 5px 3px #ebdfdf;
    border-radius: 8px;
    margin: 20px 0px 20px 0px;
}
.information-title h3{
    width: 252px;
    font-size: 20px;
    font-weight: 500;
    color: #131313;
}
.information-title p{
    width: 514px;
    font-size: 16px;
    color: #727272;
}
.architect-image{
    position: relative;
    
}
.card-menu{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    color: #FFFFFF;
    text-align: center;
    padding: 45px 42px;
    gap: 6px;
    position: absolute;
    margin: 856px 0px 0px 300px;
    border-radius: 8px;
    
}
.ten-year{
    font-size: 65px;
    font-weight: bold;
    
}
.experience{
    font-size: 25px;
    font-weight: 300;
    
}
/* responsive media quiary */
@media screen and (max-width: 576px) {
    header{
        padding: 0px;
    }
    nav{
        flex-direction: column;
    }
    .banner-title{
        width: 400px;
        font-size: 2rem;
    }
    .banner-discription{
        width: 370px;
        font-size: 16px;
        color: #727272;
    }
    .banner-contant{
        /* max-width: 80px; */
        /* text-align: center; */
        /* margin: 0px auto; */
        padding: 10px 0px 50px 0px;
    }
    .banner img{
        max-width: 97%;
    }
    .feature-img-contant{
        flex-direction: column;
        align-items: baseline;
        /* margin-left: 20px; */
        padding: 0px;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
        padding-right: 0px;
        /* padding-left: 10px; */
        padding-top: 50px;
        padding-bottom: 0px;
        gap: 24px;
    }    
    .feature-title{
        width: 380px;
    }
    .feature-title h2{
        font-size: 30px;
        width: 350px;
        
    }
    .feature-title p{
        width: 350px;

    }
    .variation-passage{
        flex-direction: column-reverse;
    }
   
    .card-menu{
        width: 200px;
        height: 100px;
        background-color: #FF900E;
        color: #FFFFFF;
        /* text-align: center; */
        /* padding: 45px 42px; */
        margin: 0px 0px 900px 0px;
        border-radius: 8px;
        position: absolute;
        
    }
    .ten-year {
        font-size: 35px;
        font-weight: bold;
        margin: 0px;
    }
    .experience{
        font-size: 25px;
        font-weight: 300;
        margin: 0px;
        
    }
    .alteration-description{
        width: 360px;
    }
    .variation-title{
        padding-right: 0px;
    }
    .variation-title{
        margin-top: 80px;
    }
    .information-title{
        max-width: 75%;
        padding: 35px 30px;
    }
    .information-title p{
        width: 300px;
    }
    .alteration-title{
        width: 300px;
        font-size: 35px;
        /* margin-top: 100px; */
    }
    .variation-passage img{
        max-width: 92%;
    }
}
@media screen and (min-width:576px) and ( max-width: 992px) {
    header{
        padding: 0%;
    }
    .banner-title{
        width: 860px;
        font-size: 3rem;
    }
    .banner-contant{
        max-width: 800px;
        /* text-align: center; */
        margin: 0px;
        padding: 100px 0px 50px 30px;
    }
    .banner-discription{
        width: 800px;
    }
    .feature-img-contant{
        flex-direction: column;
        /* margin-left: 20px; */
        padding: 0px;
    }
    .feature-img{
        grid-template-columns: repeat(2, 1fr);
        padding-right: 0px;
        /* padding-left: 10px; */
        padding-top: 50px;
        padding-bottom: 0px;
        gap: 24px;
    }  
       
}